$color-text: #242627
$color-accent: $color-text
$color-text-alt: $color-text
$color-border: $color-text
$color-background-alt: #EBEBEB
$color-border-alt : rgba(#242627, 0.3)

// TYPOGRAPHY
$sans-expanded: "ABCGravity-Expanded", sans-serif
$sans-condensed: "ABCGravity-SemiCondensed", sans-serif
$serif: "RhetorikSerif", serif

$heading-font-family: $sans-condensed
$heading-font-weight: normal

$body-font-family: $serif
$body-size: pxToRem(18)
$body-line-height: pxToRem(25)
$body-size-desktop: pxToRem(22)
$body-line-height-desktop: pxToRem(30)

// h1
$h1-size: pxToRem(50)
$h1-line-height: 90%
$h1-size-desktop: calc(Min(#{pxToRem(170)}, 10vw))
// $h1-size-desktop: pxToRem(170)
$h1-line-height-desktop: 95%
$h1-weight: $heading-font-weight

// h2
$h2-size: pxToRem(40)
$h2-line-height: 90%
$h2-size-desktop: pxToRem(80)
$h2-line-height: 95%
$h2-weight: $heading-font-weight

// h3
$h3-font-family: $heading-font-family
$h3-size: pxToRem(30)
$h3-line-height: 110%
$h3-size-desktop: pxToRem(60)
$h3-line-height-desktop: 95%
$h3-weight: $heading-font-weight

// h4
$h4-size: pxToRem(30)
$h4-line-height: 110%
$h4-size-desktop: pxToRem(40)
$h4-line-height-desktop: 90%
$h4-weight: $heading-font-weight

// h5 or Section
$h5-size: pxToRem(26)
$h5-line-height: 110%
$h5-size-desktop: pxToRem(25)
$h5-line-height-desktop: 115%
$h5-text-transform: none

// h6 or Tab
$h6-size: pxToRem(22)
$h6-line-height: 110%
$h6-size-desktop: pxToRem(22)
$h6-line-height-desktop: 120%
$h6-text-transform: none

// small
$small-size: pxToRem(16)

// lead
$lead-font-family: $serif
// $lead-size: $lead-size
$lead-size-desktop: pxToRem(36)
// $lead-line-height: $lead-sidebar-line-height
$lead-line-height-desktop: 120%
$lead-weight: normal

$border-width: 4px
$block-timeline-border-width: 1px

$header-background: var(--color-background)
$header-border-bottom-width: 0
$header-height: 127px
$header-height-desktop: 127px

$footer-background-color: var(--color-background)
$footer-logo-height: pxToRem(70)
$footer-logo-height-desktop: pxToRem(149)
$footer-text-hidden: true
$footer-icons-size: pxToRem(44)
$footer-icons-size-desktop: pxToRem(44)

$hero-height: 0
$hero-height-desktop: 0
$hero-background-color: none

$btn-border-radius: 0
$btn-border-width: 0
$btn-color: var(--color-background)
$btn-background: var(--color-text)
$btn-font-family: $sans-condensed
$btn-text-transform: uppercase
$btn-padding-desktop: pxToRem(20) pxToRem(16) pxToRem(18)
$btn-small-padding-desktop: pxToRem(9) pxToRem(10) pxToRem(6)
$btn-line-height: 1

$vertical-space-1: space(10)

// $block-space-y: pxToRem(50)
$block-space-y-desktop: space(32) // vertical space from Figma
// $block-space-y-with-sidebar: $vertical-space-1

// TOC
// Table of content
$toc-active-color: var(--color-text)

// BLOCKS
  
// Upper desktop breakpoint without sidebar 
// $heading-margin-bottom-desktop: pxToRem(50)
// Upper desktop breakpoint with sidebar 
// $heading-margin-bottom-with-sidebar: pxToRem(50)
// Under desktop breakpoint
// $heading-margin-top: var(--block-margin-y)
// Upper desktop breakpoint without sidebar 
$heading-margin-top-desktop: var(--block-space-y)
// Upper desktop breakpoint with sidebar 
$heading-margin-top-with-sidebar: var(--block-space-y)

// call to action | cta
$block-call-to-action-accent-background: var(--color-text)
$block-call-to-action-accent-button-background: none
$block-call-to-action-accent-button-border: none
$block-call-to-action-accent-button-color: var(--color-background)
$block-call-to-action-accent-button-hover-background: none
$block-call-to-action-accent-button-hover-border: $block-call-to-action-accent-button-border
$block-call-to-action-accent-button-hover-color: $block-call-to-action-accent-button-color

$block-call-to-action-button-background: none
$block-call-to-action-button-border: none
$block-call-to-action-button-color: var(--color-text)
$block-call-to-action-button-hover-background: $block-call-to-action-button-background
$block-call-to-action-button-hover-border: $block-call-to-action-button-color
$block-call-to-action-button-hover-color: $block-call-to-action-button-color

// pages
$block-pages-grid-columns: 2

// organizations
$organization-background-color: transparent

// gallery
$block-gallery-carousel-height-desktop: 40svh

// video
$block-video-background: transparent

// testimonials
$quote-size-desktop-short: $h4-size-desktop

// Animations-duration: 0
// $arrow-duration: 0
$bounce-ease-transition: cubic-bezier(0, 0.85, 0.7, 1)
$bounce-duration: 1.2s

@keyframes bounce-down
  0%, 30%
    transform: translateY(0)
  15%
    transform: translateY(5px)

// search
$search-button-header-text: true

// ICONS
$icons-site: ()
$icons-site: map-merge($icons-site, ("icon-carte": "\e904"))
$icons-site: map-merge($icons-site, ("icon-public": "\e905"))
$icons-site: map-merge($icons-site, ("icon-arrow": "\e909"))
$icons-site: map-merge($icons-site, ("icon-close": "\e907"))
$icons-site: map-merge($icons-site, ("icon-menu": "\e908"))
$icons-site: map-merge($icons-site, ("icon-linkedin": "\e902"))
$icons-site: map-merge($icons-site, ("icon-instagram": "\e901"))
$icons-site: map-merge($icons-site, ("icon-tiktok": "\e903"))
$icons-site: map-merge($icons-site, ("icon-facebook": "\e900"))
$icons-site: map-merge($icons-site, ("icon-chevron": "\e906"))